<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <client>
      <endpoint
              name="GameState"
              address="net.tcp://172.21.120.193:12000/HangmanLibrary/GameState"
              binding="netTcpBinding"
              bindingConfiguration="myBindingConfiguration"
              contract="HangmanLibrary.IGameState" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="myBindingConfiguration">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
</configuration>